.gens-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 1rem;
  align-items: flex-start;
  animation: fadeInImgParents 0.5s ease;
}
.gens-page .selector-gender-parents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1rem;
}
.gens-page .selector-gender-parents .parent.selected .number-parent {
  background: #f4e6c7;
  color: #1e1920;
}
.gens-page .selector-gender-parents .parent.selected .icon-gen path {
  fill: #1E1920;
}
.gens-page .selector-gender-parents .parent.selected .bg-parent path {
  fill: #FFCA58;
}
.gens-page .selector-gender-parents .parent {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.gens-page .selector-gender-parents .parent:not(.selected):hover .number-parent {
  color: #c4c4c4;
  transition: all 0.3s ease;
}
.gens-page .selector-gender-parents .parent:not(.selected):hover .icon-gen path {
  transition: all 0.3s ease;
  fill: #c4c4c4;
}
.gens-page .selector-gender-parents .parent:not(.selected):hover .bg-parent path {
  transition: all 0.3s ease;
  fill: #2f2931;
}
.gens-page .selector-gender-parents .parent .number-parent {
  text-align: center;
  font-family: "Manrope", sans-serif;
  color: #888;
  font-weight: 400;
  background: #1e1920;
  border-radius: 3rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.85rem;
  position: absolute;
  top: -0.1rem;
  right: -0.3rem;
  z-index: 5;
  user-select: none;
  transition: all 0.3s ease;
}
.gens-page .selector-gender-parents .parent .icon-gen {
  position: absolute;
  width: 1.7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.gens-page .selector-gender-parents .parent .icon-gen path {
  transition: all 0.3s ease;
  fill: #888888;
}
.gens-page .selector-gender-parents .parent .bg-parent path {
  transition: all 0.3s ease;
}
.gens-page .customize-gens {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  flex: 1;
}
.gens-page .customize-gens .parents-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.gens-page .customize-gens .parents-block .list-parents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  margin: 0;
  gap: 1.3rem 0;
  height: 16.4rem;
  overflow-y: auto;
  padding-right: 0.5rem;
}
.gens-page .customize-gens .parents-block .list-parents::-webkit-scrollbar {
  width: 0.2rem;
}
.gens-page .customize-gens .parents-block .list-parents::-webkit-scrollbar-track {
  opacity: 1;
  background-color: rgba(205, 205, 205, 0.0823529412);
  border-radius: 1px;
}
.gens-page .customize-gens .parents-block .list-parents::-webkit-scrollbar-thumb {
  cursor: grabbing;
  background-color: rgba(205, 205, 205, 0.1098039216);
  border-radius: 1px;
}
.gens-page .customize-gens .parents-block .list-parents::-webkit-scrollbar-thumb:hover {
  background-color: rgba(205, 205, 205, 0.2392156863);
}
.gens-page .customize-gens .parents-block .list-parents .parent.selected {
  background: rgba(255, 202, 88, 0.17);
  border: 1px solid #ffca58;
  transition: all 0.3s ease;
}
.gens-page .customize-gens .parents-block .list-parents .parent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.gens-page .customize-gens .parents-block .list-parents .parent:not(.selected):hover {
  background: #221e25;
  border: 1px solid #808081;
  transition: all 0.3s ease;
}
.gens-page .customize-gens .parents-block .list-parents .parent .img-parent {
  width: 7.3rem;
  user-select: none;
  pointer-events: none;
}
.gens-page .customize-gens .parents-block .selected-parents {
  width: 100%;
  height: 9rem;
  overflow: hidden;
  position: relative;
  background: #221e25;
  user-select: none;
  pointer-events: none;
}
.gens-page .customize-gens .parents-block .selected-parents .blur-bg {
  position: absolute;
  bottom: -7rem;
  opacity: 0.3;
  filter: blur(60px);
}
.gens-page .customize-gens .parents-block .selected-parents .imgs-parents {
  display: flex;
  flex-direction: row;
}
.gens-page .customize-gens .parents-block .selected-parents .imgs-parents img {
  position: absolute;
  width: 11rem;
  bottom: -2rem;
}
.gens-page .customize-gens .parents-block .selected-parents .imgs-parents #father {
  right: 1rem;
}
.gens-page .customize-gens .sliders-block {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@keyframes fadeInImgParents {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
