$Druk: "Druk Wide Cyr", sans-serif
$Manrope: "Manrope", sans-serif

.create-char *
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  -webkit-user-drag: none
  -khtml-user-drag: none
  -moz-user-drag: none
  -o-user-drag: none
  user-drag: none

.create-char input,
.create-char textarea
  -webkit-user-select: text
  -moz-user-select: text
  -ms-user-select: text
  user-select: text

.create-char .slider,
.create-char .slider *
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  pointer-events: auto

.create-char
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: transparent

.create-char
  width: 100%
  height: 100%

  .left-container
    position: relative
    left: 0
    height: 100%
    width: 40rem
    background: rgba(29, 25, 32, 0.96)
    box-sizing: border-box
    padding: 1.35rem 2rem
    display: flex
    flex-direction: column
    gap: 2rem

    .header-create-char
      display: flex
      flex-direction: column
      user-select: none
      gap: .7rem

      .title
        font-family: $Druk
        font-size: 1.7rem
        text-transform: uppercase
        color: #ffca58

      .subtitle
        font-family: $Manrope
        font-size: .85rem
        line-height: 140%
        width: 25rem
        color: rgba(255, 255, 255, 0.55)

  .block-content
    display: flex
    flex-direction: row
    gap: 1.3rem
    flex: 1
    min-height: 0

    .line-split
      margin-block-start: 0
      margin-block-end: 0
      margin: 0
      opacity: .5
      width: 2.3px
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.2) 49.04%, rgba(255, 255, 255, 0.02) 100%)

    .select-img-block
      display: flex
      flex-direction: column
      align-items: flex-start
      gap: 1rem

      .title-img
        font-family: $Manrope
        font-weight: 400
        font-size: 0.9rem
        color: rgba(255, 255, 255, 0.73)
        user-select: none

      .list-imgs
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        height: 16.4rem
        overflow-y: auto
        padding-right: 0.5rem
        gap: 1.3rem 0

        &::-webkit-scrollbar
          width: 0.2rem

        &::-webkit-scrollbar-track
          opacity: 1
          background-color: #cdcdcd15
          border-radius: 1px

        &::-webkit-scrollbar-thumb
          cursor: grabbing
          background-color: #cdcdcd1c
          border-radius: 1px

          &:hover
            background-color: #cdcdcd3d

        .item-img.selected
          border: 2px solid rgba(255, 202, 88)

        .item-img
          width: 6.8rem
          height: 7.5rem
          overflow: hidden
          display: flex
          align-items: center
          justify-content: center

          &:not(.selected):hover
            border: 2px solid rgba(255, 202, 88)

          img
            width: 100%
            height: 100%
            object-fit: cover
            user-select: none
            pointer-events: none

  .right-content
    position: absolute
    right: 0
    top: 0
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end

    .saved-char
      font-family: $Druk
      font-size: 1.2rem
      text-transform: uppercase
      padding: 1.2rem 1.8rem
      color: #ffca58
      background: none
      border: none
      outline: 4px solid #ffca58
      outline-offset: -4px
      border-radius: 0.12rem
      transition: all .8s ease
      cursor: pointer

      &:hover
        animation: hoverBtnSave .4s ease forwards
        color: #ffffff

@keyframes hoverBtnSave
  0%
    outline: 4px solid #ffca58
    outline-offset: -4px
  50%
    outline: 12px solid #ffca58
    outline-offset: -12px
  100%
    background: #ffca58