.rent {
  width: 100%;
  height: 100%;
}
.rent .container-rent {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(22, 21, 35, 0.98);
  border-radius: 15px;
  width: 900px;
  height: 720px;
  -webkit-animation: fadeInRent 1.1s ease forwards;
          animation: fadeInRent 1.1s ease forwards;
  padding: 2rem;
}
.rent .container-rent .bg svg {
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}
.rent .container-rent .bg #one_elipse {
  top: -100px;
  left: -100px;
}
.rent .container-rent .bg #two_elipse {
  bottom: -100px;
  right: -100px;
}
.rent .container-rent .header .left .header-2 span {
  color: white;
  font-family: "Ponter", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.rent .container-rent .list-vehicles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  list-style: none;
  padding: 0;
}
.rent .container-rent .list-vehicles .car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  height: 12rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.rent .container-rent .list-vehicles .car .header-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.rent .container-rent .list-vehicles .car .header-car .nameCar {
  color: white;
  overflow-wrap: break-word;
}
.rent .container-rent .list-vehicles .car .header-car .price {
  color: #0AFFA7;
}
.rent .container-rent .list-vehicles .car .bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
}
.rent .container-rent .list-vehicles .car .bottom-content .btn-rentcar {
  border: none;
  outline: none;
  height: 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.rent .container-rent .list-vehicles .car .bottom-content .btn-rentcar:hover {
  background: white;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@-webkit-keyframes fadeInRent {
  from {
    top: 150%;
  }
  to {
    top: 50%;
  }
}

@keyframes fadeInRent {
  from {
    top: 150%;
  }
  to {
    top: 50%;
  }
}