npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
bin
resources
client_packages/cef/assets/*.js
client_packages/cef/assets/*.css
client_packages/cef/assets/*.map
client_packages/game_resources/dlcpacks
CARS
.codegpt