npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
bin
resources
src/server/database/mysql.ts
client_packages/.listcache
client_packages/cef/index.html
client_packages/client/client.js
packages/core/server.js
src/server/index.ts
client_packages/cef/assets/index-BcXnZyzn.js
client_packages/cef/assets/index-dxbnMsPn.css
.codegpt