$Montserrat: "Montserrat", sans-serif
$PFDisplay: "PF DinDisplay Pro", sans-serif
$Manrope: "Manrope", sans-serif

html
  width: 100%
  height: 100%

body
  margin: 0 0
  width: 100%
  height: 100%

  #root
    width: 100%
    height: 100%

.auth
  display: flex
  align-items: center
  width: 100%
  height: 100%
  background: rgba(22, 21, 35, 0.96)
  //background: rgba(34, 30, 37, 0.93)
  animation: fadeInFormBlockAuth 0.7s ease forwards

  .header-blur
    position: absolute
    top: -6rem
    left: -1rem
    filter: blur(10rem)
    z-index: -1

  .logo-pulse
    position: absolute
    top: 50%
    right: 23rem
    transform: translateY(-50%)

    &:hover
      .top-part
        path
          transition: all .3s ease
          fill: #ffca58

    .top-part
      position: relative

      path
        transition: all .3s ease

    .bottom-part
      position: absolute
      height: 8rem
      top: 6rem
      left: 5rem
      z-index: -1
      filter: blur(2rem)
      opacity: .6
      animation: pulseLogoEnergy 3.6s infinite ease

  .bottom-blur
    position: absolute
    bottom: -9rem
    right: 14rem
    z-index: -1
    opacity: .2
    filter: blur(3rem)
    animation: pulseBottomBlur 3.6s infinite ease

  .form-block
    display: flex
    flex-direction: column
    align-items: center
    gap: 2rem
    position: relative
    left: 5.5rem
    width: 24rem

    #content
      display: flex
      flex-direction: column
      align-items: center
      gap: 2rem
      width: 100%

      .inputs-block
        display: flex
        flex-direction: column
        gap: 1.3rem
        width: 100%

      .btns-block
        display: flex
        flex-direction: column
        user-select: none
        gap: 1.2rem
        width: 100%

        .recovery-btn
          cursor: pointer
          font-family: $Manrope
          font-size: .8rem
          font-weight: 500
          text-transform: uppercase
          color: rgba(255, 255, 255, 0.5)
          transition: all .3s ease
          letter-spacing: .08em
          text-align: center

          &:hover
            color: #ffffff
            transition: all .3s ease

@keyframes fadeInFormBlockAuth
  from
    opacity: 0
  to
    opacity: 1

@keyframes pulseLogoEnergy
  0%
    opacity: .6
    height: 8rem
    filter: blur(2rem)
  50%
    opacity: 1
    height: 10rem
    filter: blur(2.5rem)
  100%
    opacity: .6
    height: 8rem
    filter: blur(2rem)

@keyframes pulseBottomBlur
  0%
    opacity: .2
    filter: blur(3rem)
  50%
    opacity: .9
    filter: blur(10rem)
  100%
    opacity: .2
    filter: blur(3rem)