.recovery-form
  gap: 2rem
  
  .pers-img
    margin-bottom: -7rem
    width: 27rem
    opacity: 0.035

  .header-section
    .title
      .lines
        div
          border-radius: 2px
          width: 47px
          height: 3.5px
          box-shadow: 0 0 9px 1px rgba(255, 22, 78, 0.5)
          background: #ff164e

        .line-1
          position: absolute
          margin-top: -1.5rem
          margin-left: -0.7rem
          animation: fadeInLine1 1.5s ease forwards

        .line-2
          position: absolute
          margin-top: 1rem
          margin-left: 13.8rem
          animation: fadeInLine2 1.5s ease forwards

    .description
      width: 18rem

  .inputs-section
    #code
      padding-left: 1.5rem !important

    #code-input
      display: flex
      justify-content: flex-end
      
      .send-code
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        border-radius: .35rem
        position: absolute
        width: 8rem
        height: 3rem
        margin-right: 0.7rem
        font-size: .8rem
        font-weight: 500
        background: rgba(255, 255, 255, 0.09)
        transition: all 0.3s
        user-select: none

        &:hover
          background: #ea1448
          transition: all 0.3s


@keyframes fadeInLine1
  from
    transform: translate(-70px, 0)
  100%
    transform: translate(0, 0)

@keyframes fadeInLine2
  from
    transform: translate(70px, 0)
  100%
    transform: translate(0, 0)