$Druk: "Druk Wide Cyr", sans-serif

.money-block
  display: flex
  flex-direction: column
  user-select: none
  pointer-events: none
  -webkit-user-drag: none
  gap: .1rem

  .cash
    font-family: $Druk
    text-transform: uppercase
    color: #ffca58

  .bankmoney
    display: flex
    align-items: center
    gap: .3rem

    .text
      font-family: $Druk
      font-size: .8rem
      color: rgba(255, 255, 255, 0.74)