$Montserrat: "Montserrat", sans-serif
$Karantina: "Karantina", sans-serif
$Druk: "Druk Wide Cyr", sans-serif

.pincode-page
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin-bottom: 5rem
  position: relative
  user-select: none
  gap: 2rem
  animation: fadeInBtnConfirmPin 1s ease

  .title
    font-family: $Druk
    font-size: 1.4rem
    text-transform: uppercase
    color: #FFCA58

  .pin-container
    display: flex
    align-items: center
    gap: .5rem

    .pin-star
      font-family: $Druk
      font-size: 2.5rem
      color: rgba(255, 255, 255, 0.3)
      background: rgba(255, 255, 255, 0.05)
      border: 1px solid rgba(255, 255, 255, 0.05)
      padding: 0 .4rem .4rem .4rem
      border-radius: 4px
      transition: all .2s ease

      &.filled
        color: #FFCA58
        background: rgba(255, 255, 255, 0.1)
        border-color: rgba(255, 255, 255, 0.15)
        transition: all .2s ease

  .pin-hint
    font-family: $Montserrat
    font-size: .9rem
    font-weight: 400
    color: rgba(255, 255, 255, 0.2)

  .main-btn
    position: absolute
    top: 85%
    transform: translateY(-50%)
    animation: fadeInBtnConfirmPin .7s ease

@keyframes fadeInBtnConfirmPin
  from
    opacity: 0
  to
    opacity: 1