.main-btn {
  cursor: pointer;
  font-family: "Druk Wide Cyr", sans-serif;
  width: 100%;
  height: 3.8rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  background: #ffc74a;
  color: #ffffff;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-btn:hover .next-icons img {
  transition: all 0.3s ease;
  margin-right: -5px;
}
.main-btn .next-icons img {
  width: 1.2rem;
  margin-right: -15px;
  transition: all 0.3s ease;
}
.main-btn .next-icons #one {
  opacity: 0.3;
}
.main-btn .next-icons #two {
  opacity: 0.7;
}
