$Montserrat: "Montserrat", sans-serif

.console-page
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 1rem
  height: 92%
  width: 100%

  .msg-container
    display: flex
    flex-direction: column
    gap: 1rem
    overflow-y: auto
    overflow-x: hidden
    padding-right: 1rem
    height: 100%
    width: 102.3%
    scroll-behavior: smooth

    &::-webkit-scrollbar
      width: 0.35rem

    &::-webkit-scrollbar-track
      opacity: 1
      background-color: rgba(205, 205, 205, 0.06)
      border-radius: 100px

    &::-webkit-scrollbar-thumb
      cursor: grabbing
      background-color: rgba(205, 205, 205, 0.08)
      border-radius: 100px

      &:hover
        background-color: #cdcdcd3d

    #server
      align-items: flex-start
      animation: fadeInMsgServer 0.4s ease

    #you
      align-items: flex-end
      animation: fadeInMsgYou 0.4s ease

    .msg
      display: flex
      flex-direction: column
      gap: 0.5rem
      font-family: $Montserrat
      user-select: none

      .header-msg
        display: flex
        gap: 0.4rem
        background: rgba(255, 255, 255, 0.05)
        padding: 0.4rem 0.7rem
        border-radius: 1rem
        font-size: 0.8rem
        font-weight: 500
        color: rgba(255, 255, 255, 0.6)

      .text-block
        display: flex
        flex-direction: row
        gap: 0.8rem
        background: rgba(255, 255, 255, 0.05)
        border-radius: 0.6rem
        padding: 0.85rem 1.2rem
        color: #ffffff
        font-weight: 500
        font-size: 0.9rem

        .arg
          padding: 0.5rem 0.7rem
          background: rgba(255, 255, 255, 0.05)
          border-radius: 0.4rem


  .enter-block
    display: flex
    align-items: center
    justify-content: flex-end

    .enter-cmd
      position: relative
      outline: none
      border: none
      padding: 0.8rem 2rem
      border-radius: 3rem
      font-family: $Montserrat
      font-size: 1rem
      font-weight: 600
      background: rgba(255, 255, 255, 0.06)
      border: rgba(255, 255, 255, 0.14) solid 1px
      transition: all 0.3s
      color: #ffffff
      width: 100%

      &:focus-visible
        transition: all 0.3s
        background: rgba(255, 255, 255, 0.1)
        border: rgba(255, 255, 255, 0.17) solid 1px

      &::placeholder
        font-size: 0.9rem
        font-weight: 500

    .enter-keyup
      position: absolute
      margin-right: 1rem
      font-family: $Montserrat
      font-weight: 600
      font-size: 0.8rem
      background: #ffffff
      padding: 0.3rem 0.8rem
      border-radius: 1rem
      animation: fadeInEnter 0.25s ease
      color: #000000

  .suggestions-container
    display: flex
    flex-direction: column
    gap: 0.4rem
    position: absolute
    bottom: 5.5rem
    width: 92%
    background: #2D3432
    box-sizing: border-box
    padding: 0.6rem
    border-radius: 0.6rem
    animation: fadeInHelps 0.3s ease

    .suggestion-item
      display: flex
      flex-direction: row
      justify-content: space-between
      font-family: $Montserrat
      font-weight: 500
      font-size: 0.8rem
      color: rgba(255, 255, 255, 0.8)
      background: #3b4442
      box-sizing: border-box
      border-radius: 0.3rem
      padding: 0.4rem
      transition: all 0.2s

      .suggestion-command
        display: flex
        flex-direction: row
        gap: 0.4rem

    .suggestion-item.selected
      transition: all 0.2s
      background: #ffffff
      color: #000000

@keyframes fadeInEnter
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeInMsgServer
  from
    margin-left: -5rem
  to
    margin-left: 0

@keyframes fadeInMsgYou
  from
    margin-right: -5rem
  to
    margin-right: 0

@keyframes fadeInHelps
  from
    opacity: 0
  to
    opacity: 1