$Montserrat: "Montserrat", sans-serif

.money-block
  display: flex
  flex-direction: column
  align-items: flex-end
  gap: 0.5rem
  font-family: $Montserrat
  font-size: 1rem
  font-weight: 600

  .line-money
    display: flex
    align-items: flex-end
    gap: 0.2rem

    .money-banner
      color: white

    .text-name
      color: deepskyblue

    .cash
      color: #03e295

    .bank-money
      color: coral

    .donat
      color: #EA1448