$Montserrat: "Montserrat", sans-serif
$Druk: "Druk Wide Cyr", sans-serif

.speedometer
  width: calc(265px * var(--app-scale, 1))
  height: calc(245px * var(--app-scale, 1))
  -webkit-user-drag: none
  animation: fadeInSpeedometer .8s ease
  margin-right: -1rem
  position: relative

  .indicators-veh
    position: absolute
    bottom: 1.5rem
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    gap: .7rem

    .indicator
      &.active
        path
          fill: #ffca58

      path
        fill: rgba(255, 255, 255, 0.5)

    #engine
      width: 1.2rem

    #doors
      width: .9rem

    #seat-belt
      width: .8rem

  .bg-shadow
    position: absolute
    bottom: -2rem
    right: -2rem
    width: 30rem
    height: 19rem
    filter: blur(7rem)
    z-index: 0
    pointer-events: none

  .main-section
    width: 100%
    height: 100%
    position: relative
    z-index: 1

    .speed-veh
      font-family: $Druk
      font-size: 1.95rem
      user-select: none
      transition: all 0.3s ease
      transform-origin: center

    .units
      font-family: $Montserrat
      font-weight: 600
      font-size: .7rem
      fill: rgba(255, 255, 255, 0.6)
      text-transform: uppercase
      user-select: none

    .tick
      &.showedHighSpeed
        animation: fadeInHighSpeed .6s ease

    .designation-speed
      font-family: $Montserrat
      font-size: .7rem
      fill-opacity: .85
      user-select: none

      &.showedHighSpeed
        animation: fadeInHighSpeed .6s ease

@keyframes fadeInHighSpeed
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeInSpeedometer
  from
    opacity: 0
  to
    opacity: 1