@font-face {
    font-family: 'Ponter';
    src: url('PonterBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ponter MC';
    src: url('PonterMC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ponter S';
    src: url('PonterX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ponter S';
    src: url('PonterS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ponter Rounded';
    src: url('PonterRounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ponter Alt';
    src: url('PonterAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ponter';
    src: url('Ponter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ponter PC';
    src: url('PonterPC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

