$Display: "Montserrat", sans-serif

.notify-wrapper
  .notify-container
    display: flex
    position: absolute
    flex-direction: column
    align-items: center
    gap: 0.55rem
    z-index: 9999

    .notify-item.exit
      animation: exitNotify 0.75s ease forwards

    .notify-item
      display: flex
      align-items: center
      flex-direction: row
      gap: 0.7rem
      min-height: 2.8rem
      animation: enterNotify 0.75s ease forwards

      .block-notify
        display: flex
        flex-direction: row
        position: relative
        overflow: hidden
        gap: 0.4rem

        .left-line
          height: 100%
          width: 4px
          position: absolute
          left: 0

        .text
          display: flex
          align-items: center
          justify-content: center
          max-width: 21vw
          box-sizing: border-box
          border-radius: 0.12rem
          padding: .9rem 1.5rem
          line-height: 147%
          font-family: $Display
          font-weight: 500
          font-size: 0.9rem
          color: #ffff
          //border-left: 4px solid #ffffff

  .pos-bottom
    bottom: 1.5rem
    left: 50%
    transform: translate(-50%, 0)

  .pos-top
    top: 1.5rem
    left: 50%
    transform: translate(-50%, 0)

  .pos-right
    right: 1.2rem
    top: 50%
    transform: translate(0, -50%)

  .pos-left
    left: 1.2rem
    top: 65%
    transform: translate(0, -65%)

  #warning
    .left-line
      background: #FFCA58
      box-shadow: 0 4px 17px 18px rgba(255, 202, 88, 0.25)

    .text
      color: #FFCA58
      border-left-color: #FFCA58
      background: rgba(37, 35, 30, 0.9)

  #err
    .left-line
      background: #FC4E51
      box-shadow: 0 4px 17px 18px rgba(252, 78, 81, 0.25)

    .text
      color: #FC4E51
      border-left-color: #FC4E51
      background: rgba(43, 28, 28, 0.9)

  #info
    .left-line
      background: #3794FF
      box-shadow: 0 4px 17px 18px rgba(55, 148, 255, 0.25)

    .text
      color: #3794FF
      border-left-color: #3794FF
      background: rgba(46, 58, 89, 0.9)

  #success
    .left-line
      background: #88C394
      box-shadow: 0 4px 17px 18px rgba(136, 195, 148, 0.25)

    .text
      color: #88C394
      border-left-color: #88C394
      background: rgba(27, 39, 29, 0.9)

@keyframes progress-line
  from
    height: 0
  to
    height: 100%

@keyframes enterNotify
  from
    opacity: 0
    margin-bottom: -40%
    transform: scale(0.8)
  to
    opacity: 1
    margin-top: 0
    transform: scale(1)

@keyframes exitNotify
  from
    opacity: 1
    transform: rotate3d(0, 0, 0, 0deg)
  to
    opacity: 0
    margin-bottom: -20%
    transform: rotate3d(1, 0, 0, 145deg)