$Display: "Montserrat", sans-serif

.notify-wrapper
  .notify-container
    display: flex
    position: absolute
    flex-direction: column
    align-items: center
    gap: 0.8rem
    z-index: 9999

    .notify-item.exit
      animation: exitNotify 0.75s ease forwards

    .notify-item
      display: flex
      align-items: center
      flex-direction: row
      gap: 0.7rem
      min-height: 2.8rem
      animation: enterNotify 0.75s ease forwards

      .block-icon
        display: flex
        align-items: center
        justify-content: center
        border-radius: 0.3rem
        width: 2.8rem
        height: 2.8rem

        .icon
          width: 1.35rem

      .block-notify
        display: flex
        flex-direction: row
        gap: 0.4rem

        .text
          display: flex
          align-items: center
          justify-content: center
          max-width: 21vw
          box-sizing: border-box
          border-radius: 0.3rem
          padding: 0.8rem 1.2rem
          line-height: 147%
          font-family: $Display
          font-weight: 500
          font-size: 0.9rem
          color: #ffff

        .progress-line
          display: flex
          align-items: flex-end
          justify-content: center
          width: 0.375rem
          border-radius: 0.2rem
          background: rgba(212, 211, 211, 0.53)

          .active-line
            width: 100%
            height: 0%
            border-radius: 0.2rem
            animation: progress-line ease forwards

          .active-line.paused
            animation-play-state: paused

  .pos-bottom
    bottom: 1.5rem
    left: 50%
    transform: translate(-50%, 0)

  .pos-top
    top: 1.5rem
    left: 50%
    transform: translate(-50%, 0)

  .pos-right
    right: 1.2rem
    top: 50%
    transform: translate(0, -50%)

  .pos-left
    left: 1.2rem
    top: 65%
    transform: translate(0, -65%)

  #warning
    .block-icon
      background: #ff6614

    .text
      background: #ff6614

    .active-line
      background: #ff6614

  #err
    .block-icon
      background: #ff0d4a

    .text
      background: #ff0d4a

    .active-line
      background: #ff0d4a

  #info
    .block-icon
      background: #247bff

      .icon
        width: 0.75rem

    .text
      background: #247bff

    .active-line
      background: #247bff

  #success
    .block-icon
      background: #07C339

    .text
      background: #07C339

    .active-line
      background: #07C339

@keyframes progress-line
  from
    height: 0
  to
    height: 100%

@keyframes enterNotify
  from
    opacity: 0
    margin-bottom: -40%
    transform: scale(0.8)
  to
    opacity: 1
    margin-top: 0
    transform: scale(1)

@keyframes exitNotify
  from
    opacity: 1
    transform: rotate3d(0, 0, 0, 0deg)
  to
    opacity: 0
    margin-bottom: -20%
    transform: rotate3d(1, 0, 0, 145deg)