$Druk: "Druk Wide Cyr", sans-serif
$Montserrat: "Montserrat", sans-serif

.shop24-menu
  width: 100%
  height: 100%
  background: rgba(29, 25, 31, 0.98)
  padding: 1rem 2rem
  display: flex
  flex-direction: column
  gap: 2.75rem
  -webkit-user-drag: none
  animation: fadeInRent .5s ease

  .section-shop24
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 1rem

    .list-goods
      display: grid
      grid-template-columns: repeat(3, 1fr)