$Manrope: "Manrope", sans-serif

.modal-component
  position: absolute
  top: 50%
  left: 50%
  border: 2px solid rgba(255, 255, 255, 0.1)
  transform: translate(-50%, -50%)
  border-radius: .6rem
  background: #332E37
  box-sizing: border-box
  padding: 1.35rem
  width: 30rem
  height: 35rem
  display: flex
  flex-direction: column
  animation: fadeInModalComponent .7s ease
  gap: 1rem

  header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    user-select: none

    .title-modal
      font-family: $Manrope
      font-weight: 500
      font-size: 1rem
      color: #ffca58
      text-shadow: 0 0 43px rgba(255, 202, 88, 0.8)

    .close-btn
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      background: rgba(255, 255, 255, 0.1)
      border-radius: .2rem
      width: 2rem
      height: 2rem
      transition: all .3s ease

      &:hover
        transition: all .3s ease
        background: #ff2a2a

        svg
          transition: all .3s ease
          fill-opacity: 1

      svg
        fill-opacity: .8
        width: .9rem
        height: .9rem
        transition: all .3s ease

  .content
    display: flex
    flex-direction: column
    gap: .9rem
    overflow: auto
    width: 102%
    padding-right: .8rem
    user-select: none
    scroll-behavior: smooth

    &::-webkit-scrollbar
      width: 0.3rem

    &::-webkit-scrollbar-track
      opacity: 1
      background-color: #cdcdcd15
      border-radius: 100px

    &::-webkit-scrollbar-thumb
      cursor: grabbing
      background-color: #cdcdcd1c
      border-radius: 100px

      &:hover
        background-color: #cdcdcd3d

    p
      color: #ffffff
      font-family: $Manrope
      font-size: .8rem
      line-height: 190%

@keyframes fadeInModalComponent
  from
    opacity: 0
  to
    opacity: 1