* {
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.div-effect.active {
  opacity: 1;
  transition: all 0.5s;
}

.div-effect {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  width: 900px;
  height: 500px;
  background: rgba(19, 28, 51, 0.8);
  margin-top: -10rem;
  margin-left: -15rem;
  filter: blur(200px);
}

.chatbox.active {
  opacity: 1;
  transition: all 0.5s;
}

.chatbox {
  position: absolute;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 30rem;
  margin: 0.7rem;
  opacity: 0.85;
  z-index: 11;
}
.chatbox.active .msgList {
  background: rgba(34, 30, 37, 0.5);
}
.chatbox .title {
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: -6px;
  color: #ebf7ff;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.0823529412);
  border-radius: 3px;
}
.chatbox .msgList {
  outline: none;
  text-align: left;
  direction: rtl;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 15rem;
  font-weight: 300;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0.7rem 0.7rem;
  background: rgba(29, 25, 32, 0.15);
}
.chatbox .msgList::-webkit-scrollbar {
  width: 0.3rem;
}
.chatbox .msgList::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
.chatbox .msgList::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 202, 88);
}
.chatbox .msgList .messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: break-word;
  gap: 0.85rem;
  direction: ltr;
}
.chatbox .msgList .messages .tile {
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.1rem 0.2rem;
  border-radius: 1px;
  background: rgba(43, 49, 65, 0.5);
}
.chatbox .msgList .messages .time {
  color: rgba(235, 247, 255, 0.8588235294);
  font-size: 0.7rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  padding: 0.1rem 0.3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
}
.chatbox .msgList .messages p {
  padding-left: 0.35rem;
  border-left: 2.5px solid rgba(255, 255, 255, 0.2);
  line-height: 148%;
  cursor: text;
  color: #ffffff;
  margin: 0 0;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  animation: fadeInMsgChat 0.4s ease;
}
.chatbox .msgList .messages p:nth-child(1) {
  padding-top: 0.2rem;
}
.chatbox .msgList .messages p b {
  font-size: 0.8rem;
  font-weight: 600;
}
.chatbox .msgInput {
  display: none;
  width: 100%;
  animation: fadeInInputChat 0.3s ease forwards;
}
.chatbox .msgInput #message {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chatbox .msgInput #message .input-block {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 3.4rem;
}
.chatbox .msgInput #message .input-block:focus-within .arrow-svg {
  transition: all 0.3s ease;
  opacity: 1;
}
.chatbox .msgInput #message .input-block:focus-within input {
  transition: all 0.3s ease;
  background: rgba(34, 30, 37, 0.83);
}
.chatbox .msgInput #message .input-block .send-svg {
  position: absolute;
  right: 1.2rem;
  width: 1.05rem;
  pointer-events: none;
  user-select: none;
  z-index: 2;
}
.chatbox .msgInput #message .input-block .arrow-svg {
  position: absolute;
  left: 18px;
  width: 0.59rem;
  pointer-events: none;
  user-select: none;
  transition: all 0.3s ease;
  opacity: 0.7;
  z-index: 2;
}
.chatbox .msgInput #message .input-block input {
  z-index: 1;
  cursor: text;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(34, 30, 37, 0.77);
  transition: all 0.3s ease;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 2.7rem;
  padding-right: 3rem;
  color: #ebf7ff;
}
.chatbox .msgInput #message .input-block input::placeholder {
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  color: rgba(255, 250, 250, 0.3);
}
.chatbox .msgInput #message .action-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.2rem;
}
.chatbox .msgInput #message .action-btns span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  color: #000000;
  height: 100%;
  background: rgb(255, 255, 255);
  font-family: "Manrope", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.chatbox .msgInput #message .action-btns .action {
  user-select: none;
  cursor: pointer;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 1rem;
  background: rgba(34, 30, 37, 0.67);
  color: rgba(235, 247, 255, 0.85);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  transition: all 0.3s;
}
.chatbox .msgInput #message .action-btns .action:nth-child(6) {
  border: none;
}
.chatbox .msgInput #message .action-btns .action:hover {
  transition: all 0.3s;
  color: #000000;
  background: #FFCA58;
}
.chatbox .msgInput #message .help-action {
  display: flex;
  gap: 0.4rem;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 1.8rem;
  color: white;
}
.chatbox .msgInput #message .help-action span {
  display: flex;
  height: 100%;
  padding: 0 0.5rem;
  align-items: center;
  border-radius: 0.2rem;
  background: rgba(43, 49, 65, 0.2);
}

#do {
  background: #70c268;
}

#me {
  background: #e4965e;
}

#try {
  background: #1E54C1;
}

#todo {
  background: #890AFF;
}

#hello {
  background: #f3a100;
}

#admin {
  background: #20D084;
}

@keyframes fadeInInputChat {
  from {
    margin-left: -10rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes fadeInMsgChat {
  from {
    opacity: 0;
    margin-top: -1rem;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

/*# sourceMappingURL=Index.css.map */
