.recovery-form {
  gap: 2rem;
}
.recovery-form .pers-img {
  margin-bottom: -7rem;
  width: 27rem;
  opacity: 0.035;
}
.recovery-form .header-section .title .lines div {
  border-radius: 2px;
  width: 47px;
  height: 3.5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(255, 22, 78, 0.5);
          box-shadow: 0 0 9px 1px rgba(255, 22, 78, 0.5);
  background: #ff164e;
}
.recovery-form .header-section .title .lines .line-1 {
  position: absolute;
  margin-top: -1.5rem;
  margin-left: -0.7rem;
  -webkit-animation: fadeInLine1 1.5s ease forwards;
          animation: fadeInLine1 1.5s ease forwards;
}
.recovery-form .header-section .title .lines .line-2 {
  position: absolute;
  margin-top: 1rem;
  margin-left: 13.8rem;
  -webkit-animation: fadeInLine2 1.5s ease forwards;
          animation: fadeInLine2 1.5s ease forwards;
}
.recovery-form .header-section .description {
  width: 18rem;
}
.recovery-form .inputs-section #code {
  padding-left: 1.5rem !important;
}
.recovery-form .inputs-section #code-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.recovery-form .inputs-section #code-input .send-code {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.35rem;
  position: absolute;
  width: 8rem;
  height: 3rem;
  margin-right: 0.7rem;
  font-size: 0.8rem;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.09);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.recovery-form .inputs-section #code-input .send-code:hover {
  background: #ea1448;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@-webkit-keyframes fadeInLine1 {
  from {
    -webkit-transform: translate(-70px, 0);
            transform: translate(-70px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fadeInLine1 {
  from {
    -webkit-transform: translate(-70px, 0);
            transform: translate(-70px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes fadeInLine2 {
  from {
    -webkit-transform: translate(70px, 0);
            transform: translate(70px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fadeInLine2 {
  from {
    -webkit-transform: translate(70px, 0);
            transform: translate(70px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}