.register-form {
  gap: 1.2rem;
}
.register-form .pers-img {
  width: 20rem;
  opacity: 0.11;
}
.register-form .header-section .title .lines div {
  border-radius: 2px;
  width: 47px;
  height: 3.5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(255, 22, 78, 0.5);
          box-shadow: 0 0 9px 1px rgba(255, 22, 78, 0.5);
  background: #ff164e;
}
.register-form .header-section .title .lines .line-1 {
  position: absolute;
  margin-top: -1.5rem;
  margin-left: -0.7rem;
  -webkit-animation: fadeInLine1 1.5s ease forwards;
          animation: fadeInLine1 1.5s ease forwards;
}
.register-form .header-section .title .lines .line-2 {
  position: absolute;
  margin-top: 1rem;
  margin-left: 9.7rem;
  -webkit-animation: fadeInLine2 1.5s ease forwards;
          animation: fadeInLine2 1.5s ease forwards;
}
.register-form .header-section .description {
  width: 14rem;
}

@-webkit-keyframes fadeInLine1 {
  from {
    -webkit-transform: translate(-70px, 0);
            transform: translate(-70px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fadeInLine1 {
  from {
    -webkit-transform: translate(-70px, 0);
            transform: translate(-70px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes fadeInLine2 {
  from {
    -webkit-transform: translate(70px, 0);
            transform: translate(70px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fadeInLine2 {
  from {
    -webkit-transform: translate(70px, 0);
            transform: translate(70px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}