.verify-email {
  opacity: 0;
  animation: fadeInFormBlockAuth 0.7s ease forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.verify-email #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.verify-email header {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  gap: 0.8rem;
}
.verify-email header .title {
  font-family: "Druk Wide Cyr", sans-serif;
  color: #ffca58;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.verify-email header .descr {
  font-family: "Manrope", sans-serif;
  font-size: 0.9rem;
  width: 21rem;
  text-align: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}
