$Druk: "Druk Wide Cyr", sans-serif
$Manrope: "Manrope", sans-serif

.loading.exit
  animation: fadeOut 1.5s ease

.loading
  position: relative
  width: 100%
  height: 100%
  animation: fadeIn .2s ease
  background: rgba(29, 25, 32)
  z-index: 100

  .content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    flex-direction: row
    align-items: center
    gap: 1.7rem

    .icon-flash
      width: 4.7rem
      height: 4.7rem

      path
        animation: iconFlashAnim 1.5s ease infinite

    .text-block
      display: flex
      flex-direction: column
      gap: .6rem

      .main
        font-family: $Druk
        font-weight: 500
        font-size: 23px
        text-transform: uppercase
        color: #ebf7ff

      .description
        font-family: $Manrope
        font-weight: 500
        font-size: .9rem
        color: rgba(235, 247, 255, 0.8)


@keyframes iconFlashAnim
  0%
    fill: #443F48
  50%
    fill: #FFCA58
  100%
    fill: #443F48

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0