$Montserrat: "Montserrat", sans-serif
$Ponter: "Ponter", sans-serif

.welcome-page.exit
  opacity: 0
  transition: all 1s
  user-select: none
  pointer-events: none

.welcome-page
  position: relative
  z-index: 0
  width: 100%
  height: 100%
  background: #161523
  transition: all 1s

  .svg
    z-index: 1
    position: absolute
    filter: blur(280px)
    will-change: transform
    transform: translateZ(0)
    backface-visibility: hidden

  #one-ellipse
    top: -20rem
    left: -23rem
    animation: oneEllipse 3s ease forwards

  #two-ellipse
    bottom: -23rem
    right: -20rem
    animation: twoEllipse 3s ease forwards

  
  .content
    display: flex
    flex-direction: column
    align-items: center
    width: 36.875rem
    gap: 1.7rem
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2

    .header-welcome
      display: flex
      flex-direction: column
      align-items: center
      gap: 0.5rem
      font-family: $Ponter

      .title
        animation: fadeInText 1s ease forwards
        font-weight: 400
        font-size: 3.75rem
        color: #fff

      .subtitle
        font-weight: 400
        font-size: 50px
        color: #ff0c46
        animation: fadeInText 1s ease forwards

    .line
      border-radius: 3px
      width: 60%
      height: 6px
      background: rgba(255, 255, 255, 0.07)
      animation: fadeInLine 1.4s ease forwards

    .warning-text
      font-family: $Montserrat
      font-weight: 500
      font-size: 1rem
      line-height: 165%
      text-align: center
      color: rgba(255, 255, 255, 0.8)
      animation: fadeInText 1s ease forwards

    .loader-welcome
      display: flex
      flex-direction: row
      margin-top: 1rem
      gap: 1rem
      animation: fadeInText 1s ease forwards

      .section
        position: relative
        width: 3.1875rem
        height: 4rem
        
        .svgA
          position: absolute
          left: 0
          top: 0
          z-index: 3

        .svgB
          position: absolute
          left: 0
          top: 0
          opacity: 0
          z-index: 4
        
        .svgB.active
          animation: fadeInLoader 2s ease forwards
          filter: drop-shadow(0 0 14px rgba(255, 12, 70, 0.4))

  .user-agreement
    cursor: pointer
    position: absolute
    bottom: 1.2rem
    left: 50%
    transform: translate(-50%, 0) 
    z-index: 2
    font-family: $Montserrat
    font-weight: 600
    font-size: 0.75rem
    text-transform: uppercase
    text-decoration: underline
    text-decoration-skip-ink: none
    color: rgba(255, 255, 255, 0.25)
    animation: fadeInAgreement 1s ease forwards
    transition: all 0.4s

    &:hover
      color: #ffff
      transition: all 0.4s
    

@keyframes oneEllipse
  from
    filter: blur(100px)
    transform: translate(-40%, -40%)
  to
    filter: blur(280px)
    transform: translate(0, 0)

@keyframes twoEllipse
  from
    filter: blur(100px)
    transform: translate(40%, 40%)
  to
    filter: blur(280px)
    transform: translate(0, 0)

@keyframes fadeInText
  from
    opacity: 0
    transform: translate(0, 60%)
  to
    opacity: 1
    transform: translate(0, 0)

@keyframes fadeInAgreement
  from
    opacity: 0
    bottom: -1.5rem
  to
    opacity: 1
    bottom: 1.2rem

@keyframes fadeInLine
  from
    width: 0%
    opacity: 0
    transform: translate(0, 60%)
  to
    width: 60%
    opacity: 1
    transform: translate(0, 0)

@keyframes fadeInLoader
  from
    opacity: 0
  to
    opacity: 1