$Druk: "Druk Wide Cyr", sans-serif
$Montserrat: "Montserrat", sans-serif

.death-player
  .info-death
    position: absolute
    bottom: 1.5rem
    left: 50%
    transform: translateX(-50%)
    font-family: $Montserrat
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem
    user-select: none
    animation: fadeInInfoDeath 0.7s ease

    hr
      width: 100%
      animation: fadeInHRDeath 2s ease
      opacity: .2

    .header
      display: flex
      flex-direction: column
      align-items: center
      gap: .1rem

      .title-block
        display: flex
        align-items: center
        gap: 1rem

        .icon-outcome
          width: 1.7rem

        .title
          font-size: 1.05rem
          font-weight: 600
          text-transform: uppercase
          font-family: $Druk

      #medic-tb
        path
          fill: #0AFFA7

        .title
          color: #0AFFA7
          text-shadow: 0 0 50px rgba(10, 255, 167, 0.35)

      #death-tb
        path
          fill: #FF283E

        .title
          color: #FF283E
          text-shadow: 0 0 50px rgba(255, 40, 62, 0.35)

      #chance-tb
        path
          fill: #ffca58

        .title
          color: #ffca58
          text-shadow: 0 0 50px rgba(255, 202, 88, 0.35)

      .descr
        font-size: 0.8rem
        font-weight: 400
        width: 25rem
        text-align: center
        color: rgba(255, 255, 255, 0.7)

    .death-info
      display: flex
      flex-direction: column
      gap: 1.1rem
      width: 100%

      .line
        display: flex
        align-items: flex-end
        width: 100%
        gap: 0.5rem

        span
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
          padding: 0 1rem 1rem 1rem
          border-bottom: 2px solid rgba(255, 255, 255, 0.2)
          word-break: normal
          white-space: nowrap
          outline: none
          color: #ffff
          font-weight: 400
          font-size: .9rem
          transition: all 0.3s
          width: 100%


    .chance-reborn
      display: flex
      flex-direction: column
      gap: 0.8rem
      margin-top: .3rem
      width: 100%

      .text-line
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 1rem

        .title
          color: rgba(255, 255, 255, 0.9)
          font-weight: 400
          font-size: .8rem

        .chance
          color: #ffca58
          font-size: .9rem
          font-weight: 500

      .line-chance
        width: 100%
        height: 0.5rem
        position: relative
        
        .bg-line
          width: 100%
          height: 0.5rem
          background: rgba(255, 255, 255, 0.15)

        .active-line
          height: 0.5rem
          top: 0
          left: 0
          width: 0%
          position: absolute
          background: #ffca58
          box-shadow: 0 0 15px 1px rgba(255, 202, 88, 0.45)
          animation: fadeInLineReborn 2s ease


@keyframes fadeInLineReborn
  0%
    width: 0%

@keyframes fadeInHRDeath
  0%
    width: 0%
  100%
    width: 100%

@keyframes fadeInInfoDeath
  from
    opacity: 0
    bottom: -5rem
  to
    opacity: 1
    bottom: 1.5rem