$Druk: "Druk Wide Cyr", sans-serif
$Montserrat: "Montserrat", sans-serif

.death-player
  .timer
    display: flex
    flex-direction: column
    align-items: center
    font-family: $Druk
    user-select: none
    gap: 1rem
    animation: fadeInTimer 0.7s ease forwards
    z-index: 1

    .timeout-text
      font-weight: 400
      font-size: 5.5rem
      letter-spacing: 0.06em
      text-transform: uppercase
      color: #ff4848

    .descr
      font-weight: 400
      font-size: 1rem
      color: rgba(244, 245, 248, 0.8)
      font-family: $Montserrat


@keyframes fadeInTimer
  from
    opacity: 0
    transform: scale(.8)
  to
    opacity: 1
    transform: scale(1)