.death-player .info-death {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem 2.5rem;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: fadeInInfo 0.7s ease forwards;
          animation: fadeInInfo 0.7s ease forwards;
}
.death-player .info-death .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
}
.death-player .info-death .header .title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.death-player .info-death .header #ems-title {
  color: #0AFFA7;
  text-shadow: 0 0 30px rgba(10, 255, 167, 0.5);
}
.death-player .info-death .header #death-title {
  color: #ff680a;
  text-shadow: 0 0 50px rgba(255, 104, 10, 0.5);
}
.death-player .info-death .header .descr {
  font-size: 0.9rem;
  font-weight: 500;
  width: 17rem;
  color: rgba(255, 255, 255, 0.7);
}
.death-player .info-death .death-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}
.death-player .info-death .death-info .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}
.death-player .info-death .death-info .line span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 3rem;
  padding: 0 1rem 0 1rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.3125rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.death-player .info-death .death-info .line span:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: white;
  color: #161523;
}
.death-player .info-death .chance-reborn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6875rem;
  width: 100%;
}
.death-player .info-death .chance-reborn .text-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
.death-player .info-death .chance-reborn .text-line .title {
  color: white;
  font-weight: 500;
}
.death-player .info-death .chance-reborn .text-line .chance {
  color: #ff7c4c;
  font-weight: 600;
}
.death-player .info-death .chance-reborn .line-chance {
  width: 100%;
  height: 0.5rem;
  position: relative;
}
.death-player .info-death .chance-reborn .line-chance .bg-line {
  width: 100%;
  height: 0.5rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
}
.death-player .info-death .chance-reborn .line-chance .active-line {
  height: 0.5rem;
  top: 0;
  left: 0;
  position: absolute;
  background: #ff7c4c;
  -webkit-box-shadow: 0 0 15px 1px rgba(255, 124, 76, 0.45);
          box-shadow: 0 0 15px 1px rgba(255, 124, 76, 0.45);
  border-radius: 10px;
  -webkit-animation: fadeInLineReborn 2s ease;
          animation: fadeInLineReborn 2s ease;
}

@-webkit-keyframes fadeInLineReborn {
  0% {
    width: 0%;
  }
}

@keyframes fadeInLineReborn {
  0% {
    width: 0%;
  }
}
@-webkit-keyframes fadeInInfo {
  from {
    -webkit-transform: translate(-10rem, 10rem);
            transform: translate(-10rem, 10rem);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fadeInInfo {
  from {
    -webkit-transform: translate(-10rem, 10rem);
            transform: translate(-10rem, 10rem);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}