.death-player .info-death {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  user-select: none;
  animation: fadeInInfoDeath 0.7s ease;
}
.death-player .info-death hr {
  width: 100%;
  animation: fadeInHRDeath 2s ease;
  opacity: 0.2;
}
.death-player .info-death .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}
.death-player .info-death .header .title-block {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.death-player .info-death .header .title-block .icon-outcome {
  width: 1.7rem;
}
.death-player .info-death .header .title-block .title {
  font-size: 1.05rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Druk Wide Cyr", sans-serif;
}
.death-player .info-death .header #medic-tb path {
  fill: #0AFFA7;
}
.death-player .info-death .header #medic-tb .title {
  color: #0AFFA7;
  text-shadow: 0 0 50px rgba(10, 255, 167, 0.35);
}
.death-player .info-death .header #death-tb path {
  fill: #FF283E;
}
.death-player .info-death .header #death-tb .title {
  color: #FF283E;
  text-shadow: 0 0 50px rgba(255, 40, 62, 0.35);
}
.death-player .info-death .header #chance-tb path {
  fill: #ffca58;
}
.death-player .info-death .header #chance-tb .title {
  color: #ffca58;
  text-shadow: 0 0 50px rgba(255, 202, 88, 0.35);
}
.death-player .info-death .header .descr {
  font-size: 0.8rem;
  font-weight: 400;
  width: 25rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.death-player .info-death .death-info {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  width: 100%;
}
.death-player .info-death .death-info .line {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 0.5rem;
}
.death-player .info-death .death-info .line span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  word-break: normal;
  white-space: nowrap;
  outline: none;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  transition: all 0.3s;
  width: 100%;
}
.death-player .info-death .chance-reborn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.3rem;
  width: 100%;
}
.death-player .info-death .chance-reborn .text-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.death-player .info-death .chance-reborn .text-line .title {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 0.8rem;
}
.death-player .info-death .chance-reborn .text-line .chance {
  color: #ffca58;
  font-size: 0.9rem;
  font-weight: 500;
}
.death-player .info-death .chance-reborn .line-chance {
  width: 100%;
  height: 0.5rem;
  position: relative;
}
.death-player .info-death .chance-reborn .line-chance .bg-line {
  width: 100%;
  height: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
}
.death-player .info-death .chance-reborn .line-chance .active-line {
  height: 0.5rem;
  top: 0;
  left: 0;
  width: 0%;
  position: absolute;
  background: #ffca58;
  box-shadow: 0 0 15px 1px rgba(255, 202, 88, 0.45);
  animation: fadeInLineReborn 2s ease;
}

@keyframes fadeInLineReborn {
  0% {
    width: 0%;
  }
}
@keyframes fadeInHRDeath {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeInInfoDeath {
  from {
    opacity: 0;
    bottom: -5rem;
  }
  to {
    opacity: 1;
    bottom: 1.5rem;
  }
}

/*# sourceMappingURL=Info.css.map */
