$Ghotam: "Ghotam Pro", sans-serif
$Frutiger: "Frutiger", sans-serif
$Ubuntu: "Ubuntu", sans-serif
$Bebas: "Bebas Neue", sans-serif
$Montserrat: "Montserrat", sans-serif

.header-amenu
  display: flex
  flex-direction: column
  align-items: center
  user-select: none
  gap: 0.7rem

  .section-block
    display: flex
    flex-direction: row
    align-items: center
    position: relative

    .name-section
      position: absolute
      right: 3.4rem
      text-align: right
      font-family: $Montserrat
      font-size: .7rem
      font-weight: 500
      background: rgba(29, 25, 31, 0.85)
      padding: .3rem .5rem
      color: rgba(255, 255, 255, 0.8)
      animation: fadeInNameSectionAmenu .3s ease
      border-radius: 2px

    .block-icon
      width: 2.7rem
      height: 2.7rem
      background: rgba(29, 25, 31, 0.98)
      border-radius: 4px
      display: flex
      align-items: center
      justify-content: center
      transition: all .3s ease
      cursor: pointer

      &:hover
        img
          opacity: 1
          transition: all .3s ease

      &.active
        border: 1px solid #ffca58
        box-shadow: inset 0 0 12px 0 rgba(255, 202, 88, 0.4)
        transition: all .3s ease

        img
          opacity: 1
          transition: all .3s ease

      img
        width: 1.1rem
        opacity: .4
        transition: all .3s ease

@keyframes fadeInNameSectionAmenu
  from
    opacity: 0
  to
    opacity: 1