@font-face {
    font-family: 'Karantina';
    src: url('Karantina-Light.woff2') format('woff2'),
        url('Karantina-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karantina';
    src: url('Karantina-Regular.woff2') format('woff2'),
        url('Karantina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karantina';
    src: url('Karantina-Bold.woff2') format('woff2'),
        url('Karantina-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

