$Montserrat: "Montserrat", sans-serif
$PFDisplay: "PF DinDisplay Pro", sans-serif

.server-info
  user-select: none
  color: #ffffff35
  font-family: $PFDisplay
  font-size: 14px
  position: absolute
  bottom: 2px
  right: 10px