$Montserrat: "Montserrat", sans-serif
$PFDisplay: "PF DinDisplay Pro", sans-serif

:root
  --app-scale: 1
  font-size: calc(14px * var(--app-scale))

p
  margin-block-start: 0
  margin-block-end: 0

.server-info
  user-select: none
  color: #ffffff35
  font-family: $PFDisplay
  font-size: 14px
  position: absolute
  bottom: 2px
  right: 10px

.language_ambients
  display: flex
  flex-direction: row
  align-items: flex-end
  position: absolute
  bottom: 0
  left: 0
  margin: 0.8rem
  gap: 0.5rem